@model Client.Models.Category

@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<link rel="stylesheet" href="~/css/data.css" asp-append-version="true" />

<div class="container">
    <div class="text">
        Create Category
    </div>
    <form asp-action="Creates">
        <div class="form-row">
            <div class="input-data" hidden>
                <input asp-for="Guid" value="0" type="text" required>
                <div class="underline"></div>
                <label for="">Guid</label>
            </div>
            <div class="input-data">
                <input asp-for="CategoryName" type="text" required>
                <div class="underline"></div>
                <label for="">Name</label>
            </div>
        </div>
        <div class="form-row">
            <div class="input-data">
                <div class="form-row submit-btn">
                    <div class="input-data">
                        <div class="inner"></div>
                        <input type="submit" value="Create">
                    </div>
                  
                </div>
            </div>
        </div>
    </form>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
