@model Client.Models.SubCategory

@{
    ViewData["Title"] = "Creates";
    Layout = "_CreateLayout";
    var jwToken = ViewData["JWToken"];
}

<h1>Creates</h1>

<h4>SubCategory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Creates">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group"hidden>
                <label asp-for="Guid" class="control-label"></label>
                <input asp-for="Guid" value="0"class="form-control" />
                <span asp-validation-for="Guid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryGuid" class="control-label"></label>
                <select asp-for="CategoryGuid" class="form-control" id="myDropdown"></select>
                <span asp-validation-for="CategoryGuid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RiskLevel" class="control-label"></label>
                <input asp-for="RiskLevel" class="form-control" />
                <span asp-validation-for="RiskLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script>
    var jwToken = "@jwToken";
</script>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/SubCategory.js" asp-append-version="true"></script>

<div>
    <a asp-action="GetAllSub">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
