@{
    ViewData["Title"] = "Home Page";
}

<section class="py-5 text-center hero-wrapper">
	<div class="row py-lg-5">
		<div class="col-lg-6 col-md-8 mx-auto">
			<h1 class="fw-bold text-center">
				HELP DESK SUPPORT
			</h1>
			<p class="lead text-muted">
				Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
			</p>
        </div>
    </div>
</section>

<div class="album py-5 bg-light">
	<div class="container ">
		<h2 class="text-center">Our Project Team</h2>
		<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-md-4 g-3">
			<div class="col">
				<div class="card shadow-sm">
					<img class="bd-placeholder-img card-img-top" src="/image/user.jpg" alt="" 
					width="100%" height="225px"/>
					<div class="card-body">
						<h5>Malina</h5>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card shadow-sm">
					<img class="bd-placeholder-img card-img-top" src="/image/user.jpg" alt=""
						 width="100%" height="225px" />
					<div class="card-body">
						<h5>Malina</h5>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card shadow-sm">
					<img class="bd-placeholder-img card-img-top" src="/image/user.jpg" alt=""
						 width="100%" height="225px" />
					<div class="card-body">
						<h5>Malina</h5>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card shadow-sm">
					<img class="bd-placeholder-img card-img-top" src="/image/user.jpg" alt=""
						 width="100%" height="225px" />
					<div class="card-body">
						<h5>Malina</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<footer>
	<p>
		Created with <i class="fa fa-heart"></i> by Kelompok 4
		- Final Project Metrodata Coding Camp Batch 78
	</p>
</footer>

    


