@{
    ViewData["Title"] = "Home Page";
}

<section class="text-center hero-wrapper">
    <div class="container">
        <div class="row py-lg-5">
            <div class="mx-auto jumbotron lh-1">
                <h1 class="fw-bold title-jumbotron">
                    Help Desk Ticketing
                </h1>
                <p class="fw-bold subtitle-jumbotron">
                    Your Solutions, Our Priority
                </p>
            </div>
        </div>
    </div>
</section>

<div id="teamproject" class="album py-5 teamproject-wrapper">
    <div class="container">
        <h2 class="text-center title-teamproject text-uppercase fw-bold">Our Project Team</h2>
        <div class="wrap">
            <div class="box">
                <div class="box-top">
                    <img class="box-image" src="/image/malina.jpg" alt="Girl Eating Pizza">
                    <div class="title-flex">
                        <h4 class="box-title">Malina Putri Afemi</h4>
                        <p class="user-follow-info">BackEnd Developer</p>
                    </div>
                </div>
                <a href="#" class="button">BackEnd Developer</a>
            </div>

            <div class="box">
                <div class="box-top">
                    <img class="box-image" src="/image/via.jpg" alt="Girl Eating Pizza">
                    <div class="title-flex">
                        <h4 class="box-title">Oktavia Deyo Lago</h4>
                        <p class="user-follow-info">BackEnd Developer</p>
                    </div>
                </div>
                <a href="#" class="button">BackEnd Developer</a>
            </div>

            <div class="box">
                <div class="box-top">
                    <img class="box-image" src="/image/rafi.jpg" alt="Girl Eating Pizza">
                    <div class="title-flex">
                        <h4 class="box-title">Rafi Azhar</h4>
                        <p class="user-follow-info">PM And FrontEnd</p>
                    </div>
                </div>
                <a href="#" class="button">PM And FrontEnd</a>
            </div>

            <div class="box">
                <div class="box-top">
                    <img class="box-image" src="/image/iyos.jpg" alt="Girl Eating Pizza">
                    <div class="title-flex">
                        <h4 class="box-title">Yosia Kehat Driesa</h4>
                        <p class="user-follow-info">FrontEnd</p>
                    </div>
                </div>
                <a href="#" class="button">FrontEnd Developer</a>
            </div>
        </div>
    </div>
</div>


</html>

<footer>
    <p>
        Created with <i class="fa fa-heart"></i> by Kelompok 2
        - Final Project Metrodata Coding Camp Batch 78
    </p>
</footer>