@{
    ViewData["Title"] = "Home Page";
}

<section class="py-5 text-center hero-wrapper">
    <div class="container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto my-5">
                <h1 class="fw-bold text-center">
                    HELP DESK SUPPORT
                </h1>
                <p class="lead">
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                </p>
            </div>
        </div>
    </div>
</section>

<div id="teamproject" class="album py-5 bg-light">
    <div class="container">
        <h2 class="text-center text-uppercase fw-bold">Our Project Team</h2>
        <div class="wrap">
            <div class="box">
                <div class="box-top">
                    <img class="box-image" src="https://images.unsplash.com/photo-1622219809260-ce065fc5277f?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYyMzMwNjYxOQ&ixlib=rb-1.2.1&q=85" alt="Girl Eating Pizza">
                    <div class="title-flex">
                        <h3 class="box-title text-white">Malina</h3>
                        <p class="user-follow-info">BackEnd Developer</p>
                    </div>
                </div>
                <a href="#" class="button">BackEnd Developer</a>
            </div>

            <div class="box">
                <div class="box-top">
                    <img class="box-image" src="https://images.unsplash.com/photo-1456885284447-7dd4bb8720bf?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYyMzMxNTQzNA&ixlib=rb-1.2.1&q=85" alt="Girl Eating Pizza">
                    <div class="title-flex">
                        <h3 class="box-title text-white">Oktavia</h3>
                        <p class="user-follow-info">BackEnd Developer</p>
                    </div>
                </div>
                <a href="#" class="button">BackEnd Developer</a>
            </div>

            <div class="box">
                <div class="box-top">
                    <img class="box-image" src="https://images.unsplash.com/photo-1488161628813-04466f872be2?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYyMzMxNTMwNQ&ixlib=rb-1.2.1&q=85" alt="Girl Eating Pizza">
                    <div class="title-flex">
                        <h3 class="box-title text-white">Rafi</h3>
                        <p class="user-follow-info">PM And FrontEnd</p>
                    </div>
                </div>
                <a href="#" class="button">PM And FrontEnd</a>
            </div>

            <div class="box">
                <div class="box-top">
                    <img class="box-image" src="https://images.unsplash.com/photo-1489980557514-251d61e3eeb6?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYyMzMxNjA1MA&ixlib=rb-1.2.1&q=85" alt="Girl Eating Pizza">
                    <div class="title-flex">
                        <h3 class="box-title text-white text-center">Yosia</h3>
                        <p class="user-follow-info">FrontEnd</p>
                    </div>
                </div>
                <a href="#" class="button">FrontEnd Developer</a>
            </div>
        </div>
    </div>
</div>


</html>

<footer>
    <p>
        Created with <i class="fa fa-heart"></i> by Kelompok 4
        - Final Project Metrodata Coding Camp Batch 78
    </p>
</footer>
