@{
    ViewData["Admin"] = "Admin Page";
    Layout = "_DashboardLayoutUser";
}
<div class="container-fluid">
    <div class="d-flex justify-content-center align-content-center">
        <h3 class="title-homeuser">what can we help you with ?</h3>
    </div>

    <div id="ticket" class="ag-format-container">
        <div class="ag-courses_box container-fluid">
            <div class="ag-courses_item">
                <a href="/Ticket/CreateTicketAccess" class="ag-courses-item_link">

                    <div class="ag-courses-item_bg"></div>

                    <div class="ag-courses-item_title">
                        Access
                    </div>

                </a>
            </div>

            <div class="ag-courses_item">
                <a href="/Ticket/CreateTicketReimbersment" class="ag-courses-item_link">
                    <div class="ag-courses-item_bg"></div>

                    <div class="ag-courses-item_title">
                        Reimbursement
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>
